/* custom.css */

.carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .container h2 {
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
  }
  